@model IEnumerable<ModelLayer.Empoyee.EmployeeModel>

@{
    ViewData["Title"] = "ListAll";
}
<link rel="stylesheet" href="~/css/Index.css" />

<div class="head">
            <img src="~/Asset/logo.png" style="width:50px;height:47px" />
            <div>
                 <span style="color: #82A70C">EMPLOYEE</span><br />
                 <span style="color: #42515F">PAYROLL</span>
            </div>
</div>

 <div class="heading">
     <h3>List Of Employee's</h3>
</div>

<div>
     <a class="btn-sucess" asp-action="AddEmployee">+ Add Employee</a>
</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile_img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>@Html.Label("Action")</></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile_img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Emp_id  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Emp_id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Emp_id })
            </td>
        </tr>
}
    </tbody>
</table>
